.card-container {
    padding: 5px;
    border: 1px solid gray;
    max-width: 200px;
    border-radius: 5px;
    margin: 5px;
}
.card-img-container img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
}