main {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    border: 1px solid fuchsia;
}
h1 {
    text-align: center;
}
.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid blue;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buttons input {
    max-width: 8%;
    text-align: center;
}
.display-none {
    display: none;
}